<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h2>Employees List</h2>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-secondary" href="/employee/create" style="margin-left: 40px;"><i class="fa fa-plus"></i> Creat New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>City</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td><a href="/employee/profile/{{this._id}}">{{this.fullName}}</a></td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td>{{this.city}}</td>
                        <td>
                            <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?')" style="margin-left: 10px"><i class="fa fa-trash fa-lg" aria-hidden="true" style="color:crimson"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>